<html lang="fr">
  <head>
    <meta charset="UTF-8" />

    <title>Crée son avion</title>

    <link rel="stylesheet" href='/static/stylesheets/styles.css' />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li id="logo">
            <a href="/"><img src="/static/media/ELISA.png" width="70" /></a>
          </li>
          <li>
            <a href="route.html">Itinéraire de vol</a>
          </li>
          <li>
            <a href="avion.html">Créer son avion</a>
          </li>
          <li>
            <a href="lesPropiete.html">Découvrir</a>
          </li>
          <li>
            <a href="/#presentation">A propos</a>
          </li>
        </ul>
      </nav>
    </header>

    <section id="form">
    <div id="main">
      <div class="Entrerdonnée">
        <h2>Saisir les données</h2>
        <form id="Entrerdonnée" method="POST">
          <label>Nombre de passagers : </label>
          <br />
          <input type="number" name="npax" id="npax" value="300" min="120" max="300" step="10"/>
          <br /><br />

          <label>Rayon d'action (Nm) : </label>
          <br />
          <input type="number" name="raction" id="raction" value="3500"  min="1000" max="6000" step="500"/>
          <br /><br />

          <label>Mach : </label>
          <br />
          <input type="number" name="mach" id="mach" value="0.85" min="0.8" max="0.9" step="0.05"/>
          <br /><br />

          <label>Coef de remplissage (plus petit que 1) : </label>
          <br />
          <input
            type="number"
            name="coefremp"
            id="coefremp"
            value="0.8" 
            min="0.5" 
            max="1"
            step="0.05"
          />
          <br /><br />

          <label>Allongement voilure : </label>
          <br />
          <input type="number" name="allongV" id="allongV" value="10" min="1" max="15" step="0.05"/>
          <br /><br />

          <label>Classes : </label>
          <br />

          &nbsp;&nbsp;

          <input type="radio" name="options" id="classeEco" value = "classeEco"  />
          &nbsp;
          <span id="classeEco">Classe Eco</span>

          <input type="radio" name="options" id="classeEcoaff" value ='classeEcoaff'/>
          &nbsp;
          <span id="classeEcoaff">Classe Eco-Aff</span>

          <input type="radio" name="options" id="classeEcofirst" value = "classeEcofirst"  />
          &nbsp;
          <span id="classeEcofirst">Classe Eco-First</span>

          <input type="radio" name="options" id="classeEcofirstaff" value="classeEcofirstaff"/>
          &nbsp;
          <span id="classeEcofirstaff">Classe First-Aff-Eco</span>
          <br /><br />

          <input type="submit" value="Calculer" name="submit" id="submit" />

          </div>
        </form>
      </div>
    </div></section>

    <footer>
      <div id="deuxiemeTrait"></div>
      <div id="leslink">
        <div id ="link1"><a href="/#presentation">A propos</a></div>
        <div id ="link2"><a href="lesPropiete.html">Decouvrir</a></div>
        <div id ="link3"><a href="avion.html">Créer son avion</a></div>
        <div id="link4"><a href="route.html">Itinéraire de vol</a></div>
      </div>

      <div id="copyrighteticon">
        <div id="copyright">
          <span>Copyright© 2022 | Alirida EL-SIBAI.All Rights Reserved.</span>
        </div>
        <div id="icons">
          <a href="https://twitter.com/elisaerospace"><i class="fa fa-twitter"></i></a>
          <a href="https://www.instagram.com/elisa_aerospace/?hl=fr"><i class="fa fa-instagram"></i></a>
          <a href="https://www.linkedin.com/school/elisa-aerospace/mycompany/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
