<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="UTF-8" />

    <title>Crée son avion</title>

    <link rel="stylesheet" href="/static/stylesheets/styles.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
  </head>

  <body>
    <div class="loader">
      <img src="/static/media/loading2.gif" />
      
      
    </div>
    <header>
      <nav>
        <ul>
          <li id="logo">
            <a href="#"><img src="/static/media/ELISA.png" width="70" /></a>
          </li>
          <li>
            <a href="route.html">Itinéraire de vol</a>
          </li>
          <li>
            <a href="avion.html">Créer son avion</a>
          </li>
          <li>
            <a href="lesPropiete.html">Découvrir</a>
          </li>
          <li>
            <a href="#presentation">A propos</a>
          </li>
        </ul>
      </nav>

      <div id="imagePrincipal">
        <h1>Avant-projet d'Avion De Transport Commercial</h1>
        <div id="premierTrait"></div>
        <h3>Votre Outil De Conception</h3>
      </div>
    </header>

    <section id="presentation">
      <div id="Apropos">
        <h2>A propos</h2>
        <p>
          Un avion de ligne peut être modélisé entièrement à partir de deux
          données d’entrée fondamentales qui sont la distance franchissable et
          le nombre de passagers.
          <br />
        </p>
        <p>
          <br />
          À partir de  ces données et de choix conceptuels (Mach et altitude de
          croisière, nombre de moteurs, configuration empennage…) il est
          possible de réaliser une définition préliminaire complète englobant la
          géométrie, les masses, l’aérodynamique, les performances… tous ces
          calculs sont réalisées à partir de modèles donnés par Airbus.
          <br />
        </p>
        <p>
          <br />
          Ce site est un outil de conception automatique reprenant l’ensemble de
          ces données et pouvant s’adapter aux différentes configurations
          choisies et vous donne la possibilité de visualiser et mesurer
          directement l’effet d’une modification d’un choix conceptuel sur la
          définition finale de l’avion.
        </p>
      </div>
    </section>

    <section id="lespropieter">
      <h2>Découvrir...</h2>
      <div class="imagespropriete">
        <h4>La&nbsp;Configuration</h4>
        <a href="lesPropiete.html#laconfiguration"
          ><img src="/static/media/siege.jpg" alt="siege"
        /></a>
      </div>
      <div class="imagespropriete">
        <h4>Le&nbsp;Bouclage</h4>
        <a href="lesPropiete.html#Bouclage"
          ><img src="/static/media/face.jpg" alt="Vue avion"
        /></a>
      </div>
      <div class="imagespropriete">
         <h4>Les&nbsp;Résultats</h4>
        <a href="lesPropiete.html#Resultat"
          ><img src="/static/media/diagramme.jpg" alt="diagramme"
        /></a>
      </div>
    </section>

    <footer>
      <div id="deuxiemeTrait"></div>
      <div id="leslink">
        <div id="link1"><a href="/#presentation">A propos</a></div>
        <div id="link2"><a href="lesPropiete.html">Decouvrir</a></div>
        <div id="link3"><a href="avion.html">Créer son avion</a></div>
        <div id="link4"><a href="route.html">Itinéraire de vol</a></div>
      </div>

      <div id="copyrighteticon">
        <div id="copyright">
          <span>Copyright© 2022 | Alirida EL-SIBAI.All Rights Reserved.</span>
        </div>
        <div id="icons">
          <a href="https://twitter.com/elisaerospace"
            ><i class="fa fa-twitter"></i
          ></a>
          <a href="https://www.instagram.com/elisa_aerospace/?hl=fr"
            ><i class="fa fa-instagram"></i
          ></a>
          <a href="https://www.linkedin.com/school/elisa-aerospace/mycompany/"
            ><i class="fa fa-linkedin"></i
          ></a>
        </div>
      </div>
    </footer>

    <script type="text/javascript">
      window.addEventListener("load",function(){
        const loader = document.querySelector(".loader");
        loader.className +=" hidden"
      })
    </script>

  </body>
</html>
