<html>
  <head>
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <title>Crée son avion</title>
    <link rel="stylesheet" href="/static/stylesheets/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
  </head>
  <body>
    <header>
      <nav id="avion_nav">
        <ul>
          <li id="logo">
            <a href="/"><img src="/static/media/ELISA.png" width="70" /></a>
          </li>
          <li>
            <a href="route.html">Itinéraire de vol</a>
          </li>
          <li>
            <a href="avion.html">Créer son avion</a>
          </li>
          <li>
            <a href="lesPropiete.html">Découvrir</a>
          </li>
          <li>
            <a href="/#presentation">A propos</a>
          </li>
        </ul>
      </nav>
    </header>

    <section id="resultat_route">
      <h2>Le Résultat</h2>
      <br />
      <br />
      <p>
        La distance entre <b>{{air_dep}}</b> et <b>{{air_arrive}}</b> est de :
        <i>{{distance}} KM.</i>
      </p>

      <img src="/static/resultats/route.png" /> <br />
    </section>

    <footer>
      <div id="deuxiemeTrait"></div>
      <div id="leslink">
        <div id="link1"><a href="/#presentation">A propos</a></div>
        <div id="link2"><a href="lesPropiete.html">Decouvrir</a></div>
        <div id="link3"><a href="avion.html">Créer son avion</a></div>
        <div id="link4"><a href="route.html">Itinéraire de vol</a></div>
      </div>

      <div id="copyrighteticon">
        <div id="copyright">
          <span>Copyright© 2022 | Alirida EL-SIBAI.All Rights Reserved.</span>
        </div>
        <div id="icons">
          <a href="https://twitter.com/elisaerospace"
            ><i class="fa fa-twitter"></i
          ></a>
          <a href="https://www.instagram.com/elisa_aerospace/?hl=fr"
            ><i class="fa fa-instagram"></i
          ></a>
          <a href="https://www.linkedin.com/school/elisa-aerospace/mycompany/"
            ><i class="fa fa-linkedin"></i
          ></a>
        </div>
      </div>
    </footer>
  </body>
</html>
